body{
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron {
    color:red;
    background-image: url("../images/friendBanner.jpg");
    background-size: cover;
  }

h1 {
    color:red;
}

h3{
    font-size: 1.2em !important;
    padding:10px;
}

.form{
    padding-left:10px;
    font-size: 1.4em;
    background-color:#e8eeef;
    margin: 0 auto;
    border-radius: 6px;
    width:70%;
}
label{
    margin-left: 3px;
}




.form-button > button{
    background-color:#16a085;
    border-radius: 5px;
    width:100px;
    margin-bottom: 10px;
    margin-top:15px;
}